= form_for :session, url: session_path, html: { class: 'pure-form pure-form-stacked' } do |form|
  %fieldset
    %legend.white-text= t("users.new.sign_in")
    .text-field
      = form.label :email
      = form.text_field :email, type: 'email'
    .password-field
      = form.label :password
      = form.password_field :password
    .submit-field
      = form.submit class: 'pure-button button-secondary'
    .other-links
      - if Clearance.configuration.allow_sign_up?
        = link_to t(".sign_up"), sign_up_path
      = link_to t(".forgot_password"), new_password_path